{% extends 'diverse/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

    <!-- BREADCRUMB -->
    <nav class="py-5">
        <div class="container">
        <div class="row">
            <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
                <li class="breadcrumb-item">
                <a class="text-gray-400" href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">
                Carrito
                </li>
            </ol>

            </div>
        </div>
        </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
        <div class="container">
        <div class="row">
            <div class="col-12">

            <!-- Heading -->
            <h3 class="mb-10 text-center">Mi Carrito</h3>

            </div>
        </div>
        <div class="row">
          {% if carrito != None %}
            {% if carrito.productocarrito_set.all.count > 0 %}
              <div class="col-12 col-md-7">
              
                <!-- List group -->
                <ul class="list-group list-group-lg list-group-flush-x mb-6">

                  {% for productoCarrito in carrito.productocarrito_set.all %}
                    <li class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-3">

                        <!-- Image -->
                        <a href="/producto/{{ productoCarrito.producto.num_ref }}">
                            <img src="{{ productoCarrito.producto.imagen.url }}" alt="..." class="img-fluid">
                        </a>

                        </div>
                        <div class="col">

                        <!-- Title -->
                        <div class="d-flex mb-2 font-weight-bold">
                            <a class="text-body" href="/producto/{{ productoCarrito.producto.num_ref }}">{{ productoCarrito.producto.marca }} {{ productoCarrito.producto.modelo }}</a> <span class="ml-auto">{{ productoCarrito.producto.precio }}€</span>
                        </div>

                        <!-- Text -->
                        <p class="mb-7 font-size-sm text-muted">
                            Talla: {{ productoCarrito.producto.talla }} <br>
                            Color: {{ productoCarrito.producto.color }} 
                        </p>

                        <!--Footer -->
                        <div class="d-flex align-items-center">

                            <!-- Select -->
                            <select class="custom-select custom-select-xxs w-auto cantidadProducto">
                              <option value="{{ productoCarrito.cantidad }}">{{ productoCarrito.cantidad }}</option>
                            </select>
                            
                            <a class="font-size-xs text-gray-400 ml-auto" href="/perfil/carrito/borrarProducto/{{ productoCarrito.id }}" onclick="return confirm('Are you sure do you want to delete {{i.name}}')">
                              <i class="fe fe-x"></i> Quitar
                            </a>

                        </div>

                        </div>
                    </div>
                    </li>
                  {% endfor %}
                </ul>

                <!-- Footer -->
                <div class="row align-items-end justify-content-between mb-10 mb-md-0">
                    <div class="col-12 col-md-7">
      
                      <!-- Coupon -->
                      <form class="mb-7 mb-md-0">
                        <label class="font-size-sm font-weight-bold" for="cartCouponCode">
                          Coupon code:
                        </label>
                        <div class="row form-row">
                          <div class="col">
      
                            <!-- Input -->
                            <input class="form-control form-control-sm" id="cartCouponCode" type="text" placeholder="Enter coupon code*">
      
                          </div>
                          <div class="col-auto">
      
                            <!-- Button -->
                            <button class="btn btn-sm btn-dark" type="submit">
                              Apply
                            </button>
      
                          </div>
                        </div>
                      </form>
      
                    </div>
                    <div class="col-12 col-md-auto">
      
                      <!-- Button -->
                      <button class="btn btn-sm btn-outline-dark">Actualizar Carrito</button>
      
                    </div>
                  </div>
      
                </div>
              {% else %}
                <div class="col-12 col-md-7">
                  <span>El carrito esta vacio</span>
                </div>
              {% endif %}
            {% else %}
              <div class="col-12 col-md-7">
                <span>El carrito esta vacio</span>
              </div>
            {% endif %}
            <div class="col-12 col-md-5 col-lg-4 offset-lg-1">
  
              <!-- Total -->
              <div class="card mb-7 bg-light">
                <div class="card-body">
                  <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                    <li class="list-group-item d-flex">
                      {% if carrito != None %}
                        <span>Subtotal</span> <span class="ml-auto font-size-sm">{{ carrito.precio }} €</span>
                      {% else %}
                        <span>Subtotal</span> <span class="ml-auto font-size-sm">0 €</span>
                      {% endif %}
                      
                    </li>
                    <li class="list-group-item d-flex">
                      {% if carrito != None %}
                        {% if carrito.gastosEnvio == 0 %}
                          <span>Gastos de Envio</span> <span class="ml-auto font-size-sm"><i>Gratis</i></span>
                        {% else %}
                          <span>Gastos de Envio</span> <span class="ml-auto font-size-sm">{{ carrito.gastosEnvio }} €</span>
                        {% endif %}
                      {% else %}
                        <span>Gastos de Envio</span> <span class="ml-auto font-size-sm">0 €</span>
                      {% endif %}
                      
                    </li>
                    <li class="list-group-item d-flex font-size-lg font-weight-bold">
                      {% if carrito != None %}
                        <span>Total</span> <span class="ml-auto font-size-sm">{{ carrito.precioTotal }} €</span>
                      {% else %}
                        <span>Total</span> <span class="ml-auto font-size-sm">0 €</span>
                      {% endif %}
                      
                    </li>
                    <li class="list-group-item font-size-xs text-center text-gray-500">
                      Al superar los 60€ gastos de envio gratuitos *
                    </li>
                  </ul>
                </div>
              </div>
  
              <!-- Button -->
              {% if carrito != None %}
                {% if carrito.productocarrito_set.all.count > 0 %}
                  <a class="btn btn-block btn-dark mb-2" href="{% url 'checkout' carrito.id %}">Tramitar Pedido</a>
                {% endif %}
              {% endif %}
  
              <!-- Link -->
              <a class="btn btn-link btn-sm px-0 text-body" href="{{ request.META.HTTP_REFERER }}">
                <i class="fe fe-arrow-left mr-2"></i> Continuar Comprando
              </a>
  
            </div>
          </div>
        </div>
    </section>

{% endblock content %}

{% block scriptsfooter %}
  <script src="{% static 'js/scriptCarrito.js' %}"></script>
{% endblock scriptsfooter %}