{% extends 'diverse/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
    
    <!-- BREADCRUMB -->
    <nav class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
              <!-- Breadcrumb -->
              <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
                <li class="breadcrumb-item">
                  <a class="text-gray-400" href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">
                  Mi Cuenta
                </li>
              </ol>
  
            </div>
          </div>
        </div>
    </nav>
  
    <!-- CONTENT -->
    <section class="pt-7 pb-12">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
  
              <!-- Heading -->
              <h3 class="mb-10">Mi Cuenta</h3>
  
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-3">
  
              <!-- Nav -->
              <nav class="mb-10 mb-md-0">
                <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                  <a class="list-group-item list-group-item-action dropright-toggle" href="{% url 'verPedidos' %}">
                    Pedidos
                  </a>
                  <a class="list-group-item list-group-item-action dropright-toggle" href="{% url 'perfil' %}">
                    Datos Personales
                  </a>
                  <a class="list-group-item list-group-item-action dropright-toggle active" href="{% url 'direcciones' %}">
                    Direcciones
                  </a>
                  <a class="list-group-item list-group-item-action" href="#!">
                    Cerrar Sesion
                  </a>
                </div>
              </nav>
  
  
            </div>
            <div class="col-12 col-md-9 col-lg-8 offset-lg-1">

              <!-- Heading -->
              <h6 class="mb-7">
                Editar Dirección
              </h6>
  
              <!-- Form -->
              <form method="POST">
                {% csrf_token %}
                <div class="row">
                  {% for field in form.visible_fields %}
                    {% if 'usuario' == field.name  %}
                      {{ field.as_hidden }}
                    {% endif %}
                    {% if 'nombre' == field.name  %}
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="firstName">Nombre *</label>
                          <!--{% render_field field class="form-control" placeholder=form.nombre.label %}-->
                          {{ field|add_class:'form-control'|append_attr:"placeholder:Nombre" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'apellidos' == field.name  %}
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="lastName">Apellido *</label>
                          {{ field|add_class:'form-control'|append_attr:"placeholder:Apellidos" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'direccion' == field.name  %}
                      <div class="col-12">
                        <div class="form-group">
                          <label for="addressLineOne">Dirección *</label>
                          {{ field|add_class:'form-control'|append_attr:"placeholder:Dirección" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'direccion2' == field.name  %}
                      <div class="col-12">
                        <div class="form-group">
                          <label for="addressLineTwo">Dirección 2 (Bloque/Piso/Letra/etc)</label>
                          {{ field|add_class:'form-control'|append_attr:"placeholder:Dirección complementaria" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'pais' == field.name  %}
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="townCity">País *</label>
                          {{ field|add_class:'form-control'|append_attr:"placeholder:País" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'provincia' == field.name  %}
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="townCity">Provincia *</label>
                          {{ field|add_class:'form-control'|append_attr:"placeholder:Provincia" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'localidad' == field.name  %}
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="townCity">Localidad *</label>
                          {{ field|add_class:'form-control'|append_attr:"placeholder:Localidad" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'codigoPostal' == field.name  %}
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="zipPostcode">ZIP / Código Postal *</label>
                          {{ field|add_class:'form-control'|append_attr:"placeholder:ZIP / Código Postal" }}
                        </div>
                      </div>
                    {% endif %}
                    {% if 'direccion_pref' == field.name  %}
                      <div class="col-12">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox mb-0">
                            {% render_field field class="custom-control-input" id="defaultShippingAddress" %}
                            <label class="custom-control-label" for="defaultShippingAddress">Elegir como dirección por defecto</label>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
  
                <!-- Button -->
                <button class="btn btn-dark" type="submit">
                  Guardar dirección
                </button>
  
              </form>
  
            </div>
          </div>
        </div>
    </section>

{% endblock content %}