{% extends 'diverse/base.html' %}
{% load static %}
{% block content %}

   <!-- SLIDER -->
   <section>
    <div data-flickity='{"prevNextButtons": true, "fade": true}'>

      <!-- Item -->
      <div class="w-100 bg-cover summer-sale">
        <div class="container d-flex flex-column">
          <div class="row align-items-center py-12" style="min-height: 550px;">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-1">

              <!-- Heading -->
              <h1>Catálogo de mujer</h1>


              <!-- Heading -->
              <h5 class="mt-n4 mb-8">Revisa nuestros productos de la mejor calidad</h5>

              <!-- Button -->
              <a class="btn btn-dark" href="/catalogo/m">
                Compra ahora <i class="fe fe-arrow-right ml-2"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="w-100 bg-cover summer-collection">
        <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-end py-12" style="min-height: 550px;">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-n1">

              <!-- Heading -->
              <h1 class="mb-5">Colección de verano</h1>



              <!-- Button -->
              <a class="btn btn-dark" href="/catalogo/h">
                Compra ahora <i class="fe fe-arrow-right ml-2"></i>
              </a>

            </div>
          </div>
        </div>
      </div>


    </div>
  </section>




  <!-- ARRIVALS -->
  <section class="py-12">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h2 class="mb-10 text-center">Novedades</h2>

        </div>
      </div>
    </div>
    <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>

      {% for producto in productos %}
      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">


            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <a href="/producto/{{ producto.num_ref }}" style="text-decoration: none; color: #fff;">
                <i class="fe fe-eye mr-2 mb-1"></i> Vista Rápida
              </a>
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{{producto.imagen.url}}" alt="..."  style="height: 300px; object-fit: cover;">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="/producto/{{ producto.num_ref }}" style="font-weight: 14px;">{{producto.marca}}</a> <br>
            <a class="text-body" href="/producto/{{ producto.num_ref }}">{{producto.modelo}}</a> <br>
            <span class="text-muted">{{ producto.precio }}€</span>
          </div>

        </div>
      </div>

      {% endfor %}


    </div>
  </section>


  <!-- FEATURES -->
  <section class="py-9">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-truck font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="heading-xxs mb-1">
                Envío gratuito
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Para todos los pedidos de más de 100€
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-repeat font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Devoluciones
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Tienes 30 días para devolver tu pedido y te devolveremos tu dinero
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-md-0">

            <!-- Icon -->
            <i class="fe fe-lock font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Compra segura
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Estás en buenas manos
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex">

            <!-- Icon -->
            <i class="fe fe-tag font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Más de 10.000 estilos
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Tenemos todo lo que necesitas
              </p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock content %}