{% extends 'diverse/base.html' %}
{% load static %}
{% block content %}

   <!-- SLIDER -->
   <section>
    <div data-flickity='{"prevNextButtons": true, "fade": true}'>

      <!-- Item -->
      <div class="w-100 bg-cover summer-sale">
        <div class="container d-flex flex-column">
          <div class="row align-items-center py-12" style="min-height: 550px;">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-1">

              <!-- Heading -->
              <h1>Summer Sale</h1>

              <!-- Heading -->
              <h2 class="display-1 text-primary">-70%</h2>

              <!-- Heading -->
              <h5 class="mt-n4 mb-8">with promo code CN67EW*</h5>

              <!-- Button -->
              <a class="btn btn-dark" href="shop.html">
                Shop Now <i class="fe fe-arrow-right ml-2"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="w-100 bg-cover summer-collection">
        <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-end py-12" style="min-height: 550px;">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-n1">

              <!-- Heading -->
              <h1 class="mb-5">Summer Collection</h1>

              <!-- Text -->
              <p class="mb-8 font-size-lg text-gray-500">
                So called give, one whales tree seas dry place own
                day, winged tree created spirit.
              </p>

              <!-- Button -->
              <a class="btn btn-dark" href="shop.html">
                Shop Now <i class="fe fe-arrow-right ml-2"></i>
              </a>

            </div>
          </div>
        </div>
      </div>

      <!-- Item -->
      <div class="w-100 bg-cover discount-50">
        <div class="bg-dark-20">
          <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-end" style="min-height: 550px;">
              <div class="col-12 text-center text-white">

                <!-- Preheading -->
                <h4 class="mb-0">Summer Styles</h4>

                <!-- Heading -->
                <h1 class="display-1">
                  50% OFF
                </h1>

                <!-- Links -->
                <p class="mb-0">
                  <a href="shop.html" class="link-underline text-reset mx-4 my-4">Shop Women</a>
                  <a href="shop.html" class="link-underline text-reset mx-4 my-4">Shop Men</a>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- CATEGORIES -->
  <section class="py-12">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h2 class="mb-4 text-center">Categorías</h2>

          <!-- Nav -->
          <div class="nav justify-content-center mb-10">
            <a class="nav-link active" href="#topSellersTab" data-toggle="tab">Mujer</a>
            <a class="nav-link" href="#topSellersTab" data-toggle="tab">Hombre</a>
            <a class="nav-link" href="#topSellersTab" data-toggle="tab">Niños</a>
          </div>

          <!-- Content -->
          <div class="tab-content">

            <!-- Pane -->
            <div class="tab-pane fade show active" id="topSellersTab">

              <!-- Slider -->
              <div class="flickity-buttons-lg flickity-buttons-offset px-lg-12" data-flickity='{"prevNextButtons": true}'>

                <!-- Item -->
                <div class="col" style="max-width: 200px;">
                  <div class="card">

                    <!-- Image -->
                    <img class="card-img-top" src="{% static 'img/products/product-25.jpg' %}" alt="...">

                    <!-- Body -->
                    <div class="card-body py-4 px-0 text-center">

                      <!-- Heading -->
                      <a class="stretched-link text-body" href="shop.html">
                        <h6>Dresses <small>(58)</small></h6>
                      </a>

                    </div>

                  </div>
                </div>

                <!-- Item -->
                <div class="col" style="max-width: 200px;">
                  <div class="card">

                    <!-- Image -->
                    <img class="card-img-top" src="{% static 'img/products/product-26.jpg' %}" alt="...">

                    <!-- Body -->
                    <div class="card-body py-4 px-0 text-center">

                      <!-- Heading -->
                      <a class="stretched-link text-body" href="shop.html">
                        <h6>Tops <small>(35)</small></h6>
                      </a>

                    </div>

                  </div>
                </div>

                <!-- Item -->
                <div class="col" style="max-width: 200px;">
                  <div class="card">

                    <!-- Image -->
                    <img class="card-img-top" src="{% static 'img/products/product-27.jpg' %}" alt="...">

                    <!-- Body -->
                    <div class="card-body py-4 px-0 text-center">

                      <!-- Heading -->
                      <a class="stretched-link text-body" href="shop.html">
                        <h6>T-shirts <small>(27)</small></h6>
                      </a>

                    </div>

                  </div>
                </div>

                <!-- Item -->
                <div class="col" style="max-width: 200px;">
                  <div class="card">

                    <!-- Image -->
                    <img class="card-img-top" src="{% static 'img/products/product-28.jpg' %}" alt="...">

                    <!-- Body -->
                    <div class="card-body py-4 px-0 text-center">

                      <!-- Heading -->
                      <a class="stretched-link text-body" href="shop.html">
                        <h6>Shoes <small>(64)</small></h6>
                      </a>

                    </div>

                  </div>
                </div>

                <!-- Item -->
                <div class="col" style="max-width: 200px;">
                  <div class="card">

                    <!-- Image -->
                    <img class="card-img-top" src="{% static 'img/products/product-29.jpg' %}" alt="...">

                    <!-- Body -->
                    <div class="card-body py-4 px-0 text-center">

                      <!-- Heading -->
                      <a class="stretched-link text-body" href="shop.html">
                        <h6>Jeans <small>(12)</small></h6>
                      </a>

                    </div>

                  </div>
                </div>

                <!-- Item -->
                <div class="col" style="max-width: 200px;">
                  <div class="card">

                    <!-- Image -->
                    <img class="card-img-top" src="{% static 'img/products/product-125.jpg' %}" alt="...">

                    <!-- Body -->
                    <div class="card-body py-4 px-0 text-center">

                      <!-- Heading -->
                      <a class="stretched-link text-body" href="shop.html">
                        <h6>Sweatshirts <small>(11)</small></h6>
                      </a>

                    </div>

                  </div>
                </div>

                <!-- Item -->
                <div class="col" style="max-width: 200px;">
                  <div class="card">

                    <!-- Image -->
                    <img class="card-img-top" src="{% static 'img/products/product-126.jpg' %}" alt="...">

                    <!-- Body -->
                    <div class="card-body py-4 px-0 text-center">

                      <!-- Heading -->
                      <a class="stretched-link text-body" href="shop.html">
                        <h6>Jackets <small>(9)</small></h6>
                      </a>

                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- PRODUCTS -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">

          <!-- Card -->
          <div class="card card-lg">

            <!-- Circle -->
            <div class="card-circle card-circle-lg card-circle-right">
              <strong class="font-size-xs text-decoration-line-through opacity-80">$99.00</strong>
              <span class="font-size-h6 font-weight-bold">$59.00</span>
            </div>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-30.jpg' %}" alt="...">

            <!-- Body -->
            <div class="card-body position-relative mx-6 mx-lg-11 mt-n11 bg-white text-center">

              <!-- Heading -->
              <h4 class="mb-0">Cropped Trousers</h4>

              <!-- Link -->
              <a class="btn btn-link stretched-link px-0 text-reset" href="shop.html">
                Shop Now <i class="fe fe-arrow-right ml-2"></i>
              </a>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6">

          <!-- Card -->
          <div class="card card-lg">

            <!-- Circle -->
            <div class="card-circle card-circle-lg card-circle-right">
              <strong class="font-size-xs text-decoration-line-through opacity-80">$99.00</strong>
              <span class="font-size-h6 font-weight-bold">$59.00</span>
            </div>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-31.jpg' %}" alt="...">

            <!-- Body -->
            <div class="card-body position-relative mx-6 mx-lg-11 mt-n11 bg-white text-center">

              <!-- Heading -->
              <h4 class="mb-0">Leather Sneakers</h4>

              <!-- Link -->
              <a class="btn btn-link stretched-link px-0 text-reset" href="shop.html">
                Shop Now <i class="fe fe-arrow-right ml-2"></i>
              </a>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- ARRIVALS -->
  <section class="py-12">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Heading -->
          <h2 class="mb-10 text-center">Novedades</h2>

        </div>
      </div>
    </div>
    <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-6.jpg' %}" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Cotton floral print Dress</a> <br>
            <span class="text-muted">$40.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Badge -->
            <span class="badge badge-dark card-badge card-badge-left text-uppercase">
              Sale
            </span>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-10.jpg' %}" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Suede cross body Bag</a> <br>
            <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
            <span class="text-primary">$49.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-32.jpg' %}" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Cotton leaf print Shirt</a> <br>
            <span class="text-muted">$65.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-7.jpg' %}" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Leather Sneakers</a> <br>
            <a class="text-primary" href="#">Select Options</a>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-11.jpg' %}" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Another fine dress</a> <br>
            <span class="text-muted">$99.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-33.jpg' %}" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Baseball Cap</a> <br>
            <span class="text-muted">$10.00</span>
          </div>

        </div>
      </div>

      <!-- Item -->
      <div class="col" style="max-width: 300px;">
        <div class="card">

          <!-- Image -->
          <div class="card-img">

            <!-- Action -->
            <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
              <i class="fe fe-heart"></i>
            </button>

            <!-- Button -->
            <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
              <i class="fe fe-eye mr-2 mb-1"></i> Quick View
            </button>

            <!-- Image -->
            <img class="card-img-top" src="{% static 'img/products/product-49.jpg' %}" alt="...">

          </div>

          <!-- Body -->
          <div class="card-body font-weight-bold text-center">
            <a class="text-body" href="product.html">Leather sneakers</a> <br>
            <span class="text-muted">$19.00</span>
          </div>

        </div>
      </div>

    </div>
  </section>

  <!-- INSTASHOP -->
  <section class="bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="row h-100">
            <div class="col-6 bg-cover instagram-1"></div>
            <div class="col-6 bg-cover instagram-2"></div>
            <div class="col-6 bg-cover instagram-3"></div>
            <div class="col-6 bg-cover instagram-4"></div>
          </div>
        </div>
        <div class="col-12 col-lg-4 py-12 px-9 text-center">

          <!-- Icon -->
          <i class="fe fe-instagram h3 mb-6"></i>

          <!-- Heading -->
          <h2 class="mb-6">Instashop</h2>

          <!-- Link -->
          <a href="#!" class="link-underline">Ir a Instagram</a>

        </div>
        <div class="col-12 col-lg-4">
          <div class="row h-100">
            <div class="col-6 bg-cover instagram-5"></div>
            <div class="col-6 bg-cover instagram-6"></div>
            <div class="col-6 bg-cover instagram-7"></div>
            <div class="col-6 bg-cover instagram-8"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="py-9">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-truck font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="heading-xxs mb-1">
                Envío gratuito
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Para todos los pedidos de más de 100€
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-repeat font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Devoluciones
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Tienes 30 días para devolver tu pedido y te devolveremos tu dinero
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-md-0">

            <!-- Icon -->
            <i class="fe fe-lock font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Compra segura
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Estás en buenas manos
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex">

            <!-- Icon -->
            <i class="fe fe-tag font-size-lg text-primary"></i>

            <!-- Body -->
            <div class="ml-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Más de 10.000 estilos
              </h6>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-muted">
                Tenemos todo lo que necesitas
              </p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock content %}