{% extends 'diverse/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<!-- BREADCRUMB -->
<nav class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">
              Mi cuenta
            </li>
          </ol>

        </div>
      </div>
    </div>
  </nav>

  <!-- CONTENT -->
  <section class="pt-7 pb-12">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">

          <!-- Heading -->
          <h3 class="mb-10">Mis Pedidos</h3>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-3">

          <!-- Nav -->
          <nav class="mb-10 mb-md-0">
            <div class="list-group list-group-sm list-group-strong list-group-flush-x">
              <a class="list-group-item list-group-item-action dropright-toggle active" href="{% url 'verPedidos' %}">
                Pedidos
              </a>
              <a class="list-group-item list-group-item-action dropright-toggle" href="{% url 'perfil' %}">
                Datos Personales
              </a>
              <a class="list-group-item list-group-item-action dropright-toggle" href="{% url 'direcciones' %}">
                Direcciones
              </a>
              <a class="list-group-item list-group-item-action" href="#!">
                Cerrar Sesion
              </a>
            </div>
          </nav>


        </div>
        <div class="col-12 col-md-9 col-lg-8 offset-lg-1">

        {% for pedido in pedidos_lista %}
          <!-- Order -->
          <div class="card card-lg mb-5 border">
            <div class="card-body pb-0">

              <!-- Info -->
              <div class="card card-sm">
                <div class="card-body bg-light">
                  <div class="row">
                    <div class="col-6 col-lg-3">

                      <!-- Heading -->
                      <h6 class="heading-xxxs text-muted">Pedido ID:</h6>

                      <!-- Text -->
                      <p class="mb-lg-0 font-size-sm font-weight-bold">
                        {{ pedido.id }}
                      </p>

                    </div>
                    <div class="col-6 col-lg-3">

                      <!-- Heading -->
                      <h6 class="heading-xxxs text-muted">Fecha de Compra:</h6>

                      <!-- Text -->
                      <p class="mb-lg-0 font-size-sm font-weight-bold">
                        <time datetime="2019-10-01">
                          {{ pedido.fecha_pedido|date:'d-m-Y' }}
                        </time>
                      </p>

                    </div>
                    <div class="col-6 col-lg-3">

                      <!-- Heading -->
                      <h6 class="heading-xxxs text-muted">Estado:</h6>

                      <!-- Text -->
                      <p class="mb-0 font-size-sm font-weight-bold">
                        {% if pedido.estado == 'PAGD' %}
                          Envio Pendiente
                        {% elif pedido.estado == 'ENVI' %}
                          ENVIADO
                        {% elif pedido.estado == 'RECB' %}
                          COMPLETADO
                        {% elif pedido.estado == 'DELV' %}
                          DEVUELTO
                        {% endif %}
                      </p>

                    </div>
                    <div class="col-6 col-lg-3">

                      <!-- Heading -->
                      <h6 class="heading-xxxs text-muted">Precio:</h6>

                      <!-- Text -->
                      <p class="mb-0 font-size-sm font-weight-bold">
                        {{ pedido.total }}€
                      </p>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div class="row align-items-center">
              {% if pedido.carrito.productocarrito_set.all.count < 3 %}
                <div class="col-12 col-lg-6">
                  <div class="form-row mb-4 mb-lg-0">
                    {% for productoCarrito in pedido.carrito.productocarrito_set.all %}
                      <div class="col-3">

                        <!-- Image -->
                        <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url({{productoCarrito.producto.imagen.url}});"></div>

                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <div class="col-12 col-lg-6">
                  <div class="form-row mb-4 mb-lg-0">
                    {% for productoCarrito in pedido.carrito.productocarrito_set.all %}
                      {% if forloop.counter == 1%}
                        <div class="col-3">

                          <!-- Image -->
                          <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url({{productoCarrito.producto.imagen.url}});"></div>

                        </div>
                      {% elif forloop.counter == 2%}
                        <div class="col-3">

                          <!-- Image -->
                          <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url({{productoCarrito.producto.imagen.url}});"></div>

                        </div>
                      {% elif forloop.counter == 3%}
                        <div class="col-3">

                          <!-- Image -->
                          <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url({{productoCarrito.producto.imagen.url}});"></div>

                        </div>
                      {% endif %}
                    {% endfor %}
                    <div class="col-3">
                      <div class="embed-responsive embed-responsive-1by1 bg-light">
                        <a class="embed-responsive-item embed-responsive-item-text text-reset" href="{% url 'verPedido' pedido.id %}">
                          <div class="font-size-xxs font-weight-bold">
                            Más
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
                <div class="col-12 col-lg-6">
                  <div class="form-row justify-content-end">
                    <div class="col-6 ">

                      <!-- Button -->
                      <a class="btn btn-sm btn-block btn-outline-dark" href="{% url 'verPedido' pedido.id %}">
                        Detalles Pedido
                      </a>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        {% endfor %}

          <!-- Pagination -->
          <nav class="d-flex justify-content-center justify-content-md-end">
            <ul class="pagination pagination-sm text-gray-400">  
              {% if pedidos_lista.has_previous %}
              <li class="page-item">
                <a class="page-link page-link-arrow" href="?page=1">
                  <i class="fas fa-angle-double-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link page-link-arrow" href="?page={{ pedidos_lista.previous_page_number }}">
                  <i class="fas fa-caret-left"></i>
                </a>
              </li>
              {% endif %}
              
              <li class="page-item active">
                <a class="page-link" href="?page={{ pedidos_lista.number }}">{{pedidos_lista.number}}</a>
              </li>
              {% if pedidos_lista.has_next %}
              <li class="page-item">
                <a class="page-link page-link-arrow" href="?page={{ pedidos_lista.next_page_number }}">
                  <i class="fas fa-caret-right"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link page-link-arrow" href="?page=9999">
                  <i class="fas fa-angle-double-right"></i>
                </a>
              </li>
              {% endif %}
              
              
            </ul>
          </nav>

        </div>
      </div>
    </div>
</section>

{% endblock content %}

{% block scriptsfooter %}
{% endblock scriptsfooter %}