{% extends 'diverse/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
    
    <!-- BREADCRUMB -->
    <nav class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
              <!-- Breadcrumb -->
              <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
                <li class="breadcrumb-item">
                  <a class="text-gray-400" href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">
                  Mi Cuenta
                </li>
              </ol>
  
            </div>
          </div>
        </div>
    </nav>
  
    <!-- CONTENT -->
    <section class="pt-7 pb-12">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
  
              <!-- Heading -->
              <h3 class="mb-10">Mi Cuenta</h3>
  
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-3">
  
              <!-- Nav -->
              <nav class="mb-10 mb-md-0">
                <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                  <a class="list-group-item list-group-item-action dropright-toggle " href="{% url 'perfil' %}">
                    Pedidos
                  </a>
                  <a class="list-group-item list-group-item-action dropright-toggle " href="{% url 'perfil' %}">
                    Lista de deseos
                  </a>
                  <a class="list-group-item list-group-item-action dropright-toggle active" href="{% url 'perfil' %}">
                    Datos Personales
                  </a>
                  <a class="list-group-item list-group-item-action dropright-toggle " href="{% url 'direcciones' %}">
                    Direcciones
                  </a>
                  <a class="list-group-item list-group-item-action dropright-toggle " href="{% url 'perfil' %}">
                    Metodos de pago
                  </a>
                  <a class="list-group-item list-group-item-action" href="#!">
                    Cerrar Sesion
                  </a>
                </div>
              </nav>
  
  
            </div>
            <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
  
              <!-- Form -->
              <form method="POST" onsubmit="return validarFormulario()">
                {% csrf_token %}
                <div class="row">

                {% for field in form.visible_fields %}
                  {% if 'email' == field.name  %}
                  <div class="col-12">   
  
                    <!-- Email -->
                    <div class="form-group">
                      <label for="accountEmail">
                        Dirección Email *
                      </label>
                      {{ field|add_class:'form-control form-control-sm' }}
                    </div>
  
                  </div>
                  {% endif %}

                  {% if 'username' == field.name  %}
                  <div class="col-6 col-md-6">
  
                    <!-- Password -->
                    <div class="form-group">
                      <label for="accountPassword">
                        Nombre Usuario *
                      </label>
                      {{ field|add_class:'form-control form-control-sm' }}
                    </div>
  
                  </div>
                  {% endif %}

                  {% if 'telefono' == field.name  %}
                  <div class="col-6 col-md-6">
  
                    <!-- Password -->
                    <div class="form-group">
                      <label for="accountPassword">
                        Teléfono
                      </label>
                      {% render_field field type="text" class="form-control" %}
                    </div>
  
                  </div>
                  {% endif %}

                  {% if 'nombre' == field.name  %}
                  <div class="col-12 col-md-6">

                        <!-- Nombre -->
                        <div class="form-group">
                        <label for="accountFirstName">
                            Nombre
                        </label>
                        {{ field|add_class:'form-control form-control-sm' }}
                        </div>
                  </div>
                  {% endif %}

                  {% if 'apellidos' == field.name  %}
                  <div class="col-12 col-md-6">
  
                    <!-- Email -->
                    <div class="form-group">
                      <label for="accountLastName">
                        Apellidos
                      </label>
                      {{ field|add_class:'form-control form-control-sm' }}
                    </div>
  
                  </div>
                  {% endif %}

                  {% if 'password' == field.name  %}
                  <div class="col-6 col-md-6">
                    {{ field.as_hidden }}
                    <!-- Password -->
                    <div class="form-group">
                      <label for="accountPassword">
                        Contraseña Nueva
                      </label>
                      <input class="form-control form-control-sm" id="contraseñaNueva" type="password" placeholder="Nueva Contraseña">
                    </div>
  
                  </div>
                  <div class="col-6 col-md-6">
  
                    <!-- Password -->
                    <div class="form-group">
                      <label for="AccountNewPassword">
                        Repetir Contraseña
                      </label>
                      <input class="form-control form-control-sm" id="repetirContraseña" type="password" placeholder="Repetir contraseña">
                    </div>
  
                  </div>
                  {% endif %}

                  {% if 'fechaNacimiento' == field.name  %}
                  <div class="col-12 col-lg-6">
                    {{ field.as_hidden }}
                    <!-- Birthday -->
                    <div class="form-group">
  
                      <!-- Label -->
                      <label>Fecha de Nacimiento *</label>
  
                      <!-- Inputs -->
                      <div class="form-row">
                        <div class="col-auto">
  
                          <!-- Date -->
                          <label class="sr-only" for="diaNacimiento">
                            Día
                          </label>
                          <select class="custom-select custom-select-sm" id="diaNacimiento">
                          </select>
  
                        </div>
                        <div class="col">
  
                          <!-- Date -->
                          <label class="sr-only" for="mesNacimiento">
                            Mes
                          </label>
                          <select class="custom-select custom-select-sm" id="mesNacimiento">
                          </select>
  
                        </div>
                        <div class="col-auto">
  
                          <!-- Date -->
                          <label class="sr-only" for="añoNacimiento">
                            Año
                          </label>
                          <select class="custom-select custom-select-sm" id="añoNacimiento">
                          </select>
  
                        </div>
                      </div>
  
                    </div>
  
                  </div>
                  {% endif %}

                  {% if 'genero' == field.name  %}
                  <div class="col-12 col-lg-6">
                    {{ field.as_hidden }}
                     <!-- Gender -->
                    <div class="form-group mb-8">
                      <label>Genero *</label>
                      <div class="btn-group-toggle" data-toggle="buttons">
                          {% if user.genero == 0  %}
                            <label class="btn btn-sm btn-outline-border active" id="generoHombreLabel">
                              <input type="radio" name="generoHombre" id="generoHombre" checked> Hombre
                            </label>
                            <label class="btn btn-sm btn-outline-border" id="generoMujerLabel">
                              <input type="radio" name="generoMujer" id="generoMujer"> Mujer
                            </label> 
                          {% else %}
                            <label class="btn btn-sm btn-outline-border" id="generoHombreLabel">
                              <input type="radio" name="generoHombre" id="generoHombre"> Hombre
                            </label>
                            <label class="btn btn-sm btn-outline-border active" id="generoMujerLabel">
                              <input type="radio" name="generoMujer" id="generoMujer" checked> Mujer
                            </label> 
                          {% endif  %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}

                  <div class="col-12">
                    <!-- Button -->
                    <button class="btn btn-dark" type="submit" id="guardarPerfil">Guardar Cambios</button>
                  </div>
                  
                </div>
              </form>
  
            </div>
          </div>
        </div>
    </section>

{% endblock content %}

{% block scriptsfooter %}
  <script src="{% static 'js/scriptPerfil.js' %}"></script>
{% endblock scriptsfooter %}