{% extends 'diverse/base.html' %}
{% load static %}
{% block content %}

    <!-- BREADCRUMB -->
    <nav class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
              <!-- Breadcrumb -->
              <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
                <li class="breadcrumb-item">
                  <a class="text-gray-400" href="/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                  {% for product in producto %}
                    {% if product.sexo.id == 1 %}
                    <a class="text-gray-400" href="/catalogo/h">Hombre</a>
                    {%endif%}
                    {% if producto.sexo.id == 2 %}
                    <a class="text-gray-400" href="/catalogo/m">Mujer</a>
                    {%endif%}
                    {% if product.sexo.id == 3 %}
                    <a class="text-gray-400" href="/catalogo/no">Niño</a>
                    {%endif%}
                    {% if product.sexo.id == 4 %}
                    <a class="text-gray-400" href="/catalogo/na">Niña</a>
                    {%endif%}
                  {% endfor %}
                </li>
                <li class="breadcrumb-item active">
                  {% for product in producto %}
                  {{ product.categoria }}
                  {% endfor %}
                </li>
              </ol>
  
            </div>
          </div>
        </div>
      </nav>
  
      <!-- PRODUCT -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-6">
  
                  <!-- Card -->
                  <div class="card">
  
                    <!-- Badge -->
                    <!--<div class="badge badge-primary card-badge text-uppercase">
                      Sale
                    </div>-->
  
                    <!-- Slider -->
                    <div class="mb-4" data-flickity='{"draggable": false, "fade": true}' id="productSlider">
  
                      {% for product in producto %}
                        <!-- Item -->
                        <a href="{{ product.imagen.url }}" data-fancybox>
                          <img src="{{ product.imagen.url }}" alt="..." class="card-img-top">
                        </a>
                      {% endfor %}

                      {% for imagen in imagenesextra %}
                      <!-- Item -->
                      <a href="{{ imagen.imagen.url }}" data-fancybox>
                        <img src="{{ imagen.imagen.url }}"" alt="..." class="card-img-top">
                      </a>
                      {% endfor %}
                      
                      
                    </div>
  
                  </div>
  
                  <!-- Slider -->
                  <div class="flickity-nav mx-n2 mb-10 mb-md-0" data-flickity='{"asNavFor": "#productSlider", "contain": true, "wrapAround": false}'>
  

                    {% for product in producto %}
                    <!-- Item -->
                    <div class="col-12 px-2 is-selected is-nav-selected" style="max-width: 113px;">
  
                      <!-- Image -->
                      <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url({{product.imagen.url}});">
                      </div>
  
                    </div>

                    {% endfor %}

                    {% for imagen in imagenesextra %}
                    <!-- Item -->
                    <div class="col-12 px-2" style="max-width: 113px;">
  
                      <!-- Image -->
                      <div class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url({{imagen.imagen.url}});">
                      </div>
  
                    </div>
                    {% endfor %}
  
                  </div>
  
                </div>
                <div class="col-12 col-md-6 pl-lg-10">
  
                  <!-- Header -->
                  <div class="row mb-1">
                    <div class="col">
  
                      <!-- Preheading -->
                      {% for product in producto %}
                        <a class="text-muted" href="shop.html">{{ product.categoria }}</a>
                      {% endfor %}
                    </div>
                    
                  </div>
  
                  <!-- Heading -->
                  {% for product in producto %}
                    <h3 class="mb-2">{{ product.modelo }} </h3>
                    <h6 class="mb-2">{{ product.marca }} </h6>
                  {% endfor %}
  
                  <!-- Price -->
                  <div class="mb-7">
                    <!--<span class="font-size-lg font-weight-bold text-gray-350 text-decoration-line-through">$115.00</span>-->
                    {% for product in producto %}
                      <span class="ml-1 font-size-h5 font-weight-bolder text-primary">{{ product.precio }}€</span>
                    {% endfor %}
                    <span class="font-size-sm ml-1">(In Stock)</span>
                  </div>
  
                  <!-- Form -->
                    <div class="form-group">
  
                      <!-- Label -->
                      {% for product in producto %}
                        <p class="mb-5">
                          Color: <strong id="colorCaption">{{ product.color }}</strong>
                        </p>
                      {% endfor %}

                      <!-- Radio -->
                      <div class="mb-8 ml-n1">
                        <!--
                        <div class="custom-control custom-control-inline custom-control-img">
                          <input type="radio" class="custom-control-input" id="imgRadioOne" name="imgRadio" data-toggle="form-caption" data-target="#colorCaption" value="White" checked>
                          <label class="custom-control-label" for="imgRadioOne">
                            <span class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url(assets/img/products/product-7.jpg);"></span>
                          </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-img">
                          <input type="radio" class="custom-control-input" id="imgRadioTwo" name="imgRadio" data-toggle="form-caption" data-target="#colorCaption" value="Black">
                          <label class="custom-control-label" for="imgRadioTwo">
                            <span class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url(assets/img/products/product-49.jpg);"></span>
                          </label>
                        </div>-->
                          {% for productocolor in productoscolor %}
                          <div class="custom-control custom-control-inline custom-control-img">
                            <input type="radio" class="custom-control-input" id="producto{{ productocolor.num_ref }}" name="imgRadio" data-toggle="form-caption" data-target="#colorCaption" value="{{productocolor.color}}">
                            <label class="custom-control-label" for="producto{{ productocolor.num_ref }}">
                              <a href="/producto/{{ productocolor.num_ref }}">
                                <span class="embed-responsive embed-responsive-1by1 bg-cover" style="background-image: url({{productocolor.imagen.url}});"></span>
                              </a>
                            </label>
                          </div>
                          {% endfor %}
                      </div>
  
                    </div>
                    <div class="form-group">
  
                      <!-- Label -->
                      {% for product in producto %}
                        <p class="mb-5">
                          Talla: <strong><span id="sizeCaption">{{ product.talla }}</span></strong>
                        </p>
                      {% endfor %}

                      <!-- Radio -->
                      <div class="mb-2">

                        {% for productotalla in productostalla %}
                        <div class="custom-control custom-control-inline custom-control-size mb-2">

                          {% for product in producto %}
                            {% if product.talla.id == productotalla.talla.id %}
                              <input type="radio" class="custom-control-input" name="sizeRadio" id="talla{{productotalla.talla.id}}" value="{{productotalla.talla}}" data-toggle="form-caption" data-target="#sizeCaption" checked>
                            {% else %}  
                              <input type="radio" class="custom-control-input" name="sizeRadio" id="talla{{productotalla.talla.id}}" value="{{productotalla.talla}}" data-toggle="form-caption" data-target="#sizeCaption">
                            {% endif %}
                          {% endfor %}                          
                          <label class="custom-control-label" for="talla{{productotalla.talla.id}}"><a href="/producto/{{productotalla.num_ref}}" style="text-decoration: none; color: #000;">{{ productotalla.talla }}</a></label>
                        </div>
                        {% endfor %}
                      </div>
  
                      <!-- Size chart -->
                      <p class="mb-8">
                        
                        <img src="{% static 'img/icons/icon-ruler.svg' %}" alt="..." class="img-fluid"> <a class="text-reset text-decoration-underline ml-3" data-toggle="modal" href="#modalSizeChart">Guía de tallas</a>
                      </p>
  
                      <div class="form-row mb-7">
                        <div class="col-12 col-lg-auto">
  
                          <!-- Quantity -->
                          <select class="custom-select mb-2">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
  
                        </div>
                        <div class="col-12 col-lg">
                          
                          {% for product in producto %}
                          <!-- Submit -->
                          <button type="submit" class="btn btn-block btn-dark mb-2" onclick="window.location.href='/perfil/añadir-carrito/{{ product.num_ref }}'">
                            Añadir al carrito <i class="fe fe-shopping-cart ml-2"></i>
                          </button>
  
                          {% endfor %}
                          
                        </div>
                      </div>
  
                    </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
      <!-- PRODUCTS -->
      <section class="pt-11">
        <div class="container">
          <div class="row">
            <div class="col-12">
  
              <!-- Heading -->
              <h4 class="mb-10 text-center">Te podría interesar</h4>
  
              <!-- Items -->
              <div class="row">

                {% for productorelacionado in productosrelacionados %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
  
                  <!-- Card -->
                  <div class="card mb-7">
  
                    <!-- Image -->
                    <div class="card-img">
  
                      <!-- Image -->
                      <a class="card-img-hover" href="/producto/{{ productorelacionado.num_ref }}">
                        <img class="card-img-top card-img-back imagen-catalogo" src="{{ productorelacionado.imagen.url }}" alt="...">
                        <img class="card-img-top card-img-front imagen-catalogo" src="{{ productorelacionado.imagen.url }}" alt="...">
                      </a>
  
                      <!-- Actions -->
                      <div class="card-actions">
                        <span class="card-action">
                          <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                            <a href="/producto/{{ productorelacionado.num_ref }}" class="productoRelacionadoLink"><i class="fe fe-eye"></i></a>
                          </button>
                        </span>
                        <span class="card-action">
                          <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button" onclick="window.location.href='/perfil/añadir-carrito/{{ productorelacionado.num_ref }}'">
                            <i class="fe fe-shopping-cart"></i>
                          </button>
                        </span>
                      </div>
  
                    </div>
  
                    <!-- Body -->
                    <div class="card-body px-0">
  
                      <!-- Category -->
                      <div class="font-size-xs">
                        <a class="text-muted" href="shop.html">{{ productorelacionado.categoria }}</a>
                      </div>
  
                      <!-- Title -->
                      <div class="font-weight-bold">
                        <a class="text-body" href="product.html">
                          {{ productorelacionado.modelo }} - {{ productorelacionado.marca }}
                        </a>
                      </div>
  
                      <!-- Price -->
                      <div class="font-weight-bold text-muted">
                        {{ productorelacionado.precio }} €
                      </div>
  
                    </div>
  
                  </div>
  
                </div>
                {% endfor %}
                
              </div>
  
            </div>
          </div>
        </div>
      </section>


{% endblock content %}