<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'backend/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'backend/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Diverse</title>
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'backend/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'backend/css/paper-dashboard.css' %}" rel="stylesheet" />

    <!-- Diverse CSS -->
    <link href="{% static 'backend/css/backend.css' %}" rel="stylesheet" />

    {% block scriptsheader %}
    {% endblock scriptsheader %}

</head>
<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
          <div class="logo">
            <a href="{% url 'indexBackend' %}" class="simple-text logo-mini">
              <!-- <div class="logo-image-small">
                <img src="./assets/img/logo-small.png">
              </div> -->
              <!-- <p>CT</p> -->
            </a>
            <a href="{% url 'indexBackend' %}" class="simple-text logo-normal">
              DIVERSE
              <!-- <div class="logo-image-big">
                <img src="../assets/img/logo-big.png">
              </div> -->
            </a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
              <li class="active ">
                <a href="{% url 'indexBackend' %}">
                  <i class="nc-icon nc-bank"></i>
                  <p>INICIO</p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link verDropdown" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-tile-56"></i>
                  <p>VER</p>
                  <i id="mas-ver" class="nc-icon nc-minimal-left" style="position: absolute; font-size: 15px; right: 20px; top: 12px; margin: 0;"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right verDropdownDiv" aria-labelledby="navbarDropdownMenuLink">
                  <ul class="nav dropdownBackend">
                    <li>
                      <a href="{% url 'verSexo' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>SEXO</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verColor' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>COLOR</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verTalla' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>TALLA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verCategoria' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>CATEGORIA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verSubCategoria' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>SUBCATEGORIA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verMarca' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>MARCA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verModelo' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>MODELO</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verProducto' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>PRODUCTO</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'verStock' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>STOCK</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link crearDropdown" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-tile-56"></i>
                  <p>CREAR</p>
                  <i id="mas-crear" class="nc-icon nc-minimal-left" style="position: absolute; font-size: 15px; right: 20px; top: 12px; margin: 0;"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right crearDropdownDiv" aria-labelledby="navbarDropdownMenuLink">
                  <ul class="nav dropdownBackend">
                    <li>
                      <a href="{% url 'crearColor' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>COLOR</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'crearTalla' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>TALLA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'crearCategoria' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>CATEGORIA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'crearSubCategoria' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>SUBCATEGORIA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'crearMarca' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>MARCA</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'crearModelo' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>MODELO</p>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'crearProducto' %}" class="dropdown-item">
                        <i class="nc-icon nc-tie-bow"></i>
                        <p>PRODUCTO</p>
                      </a>
                    </li>
                    {% if user.is_authenticated %}
                      {% if user.is_admin %}
                        <li>
                          <a href="{% url 'backendRegistrarUsuario' %}" class="dropdown-item">
                            <i class="nc-icon nc-tie-bow"></i>
                            <p>USUARIO</p>
                          </a>
                        </li>
                      {% endif %}
                    {% endif %}
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-panel" style="padding-bottom:20px;">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <div class="navbar-toggle">
                  <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                  {% if user.is_authenticated %}
                  <li class="nav-item btn-rotate dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="nc-icon nc-single-02"></i>
                      <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'index' %}">Volver a la tienda</a>
                      <a class="dropdown-item" href="{% url 'backendCerrarSesion' %}">Cerrar sesión</a>
                    </div>
                  </li>
                  {% else %}
                  <li class="nav-item btn-rotate dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="nc-icon nc-single-02"></i>
                      <p>
                        <span class="d-lg-none d-md-block">Some Actions</span>
                      </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'backendLogin' %}">Iniciar Sesión</a>
                      <a class="dropdown-item" href="{% url 'backendCerrarSesion' %}">Registrase</a>
                    </div>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
          <div class="content">
            {% block content %}
            {% endblock content %}
          </div>
          <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
            <div class="container-fluid">
              <div class="row">
                <nav class="footer-nav">
                  <ul>
                    <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                    <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                  </ul>
                </nav>
                <div class="credits ml-auto">
                  <span class="copyright">
                    © 2022, made with <i class="fa fa-heart heart"></i> by Jesus & Jose
                  </span>
                </div>
              </div>
            </div>
          </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="{% static 'backend/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'backend/js/core/popper.min.js' %}"></script>
    <script src="{% static 'backend/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'backend/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="{% static 'backend/js/plugins/chartjs.min.js' %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static 'backend/js/plugins/bootstrap-notify.js' %}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'backend/js/paper-dashboard.min.js' %}" type="text/javascript"></script>
    <!-- Script Diverse -->
    <script src="{% static 'backend/js/scripts.js' %}" type="text/javascript"></script>
    {% block scriptsfooter %}
    {% endblock scriptsfooter %}
</body>
</html>