{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h3>Añadir Imágenes</h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.tipo.label }}"> Agregar imagen</label>
                        {{ form.imagen }}
                    </div>

                <button type="submit" class="btn btn-primary">Añadir</button>
            </form>
        </div>
    </div>
{% endblock content %}