{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}

    <h3>Diverse Backend</h3>

    <h4>Tabla de colores</h4>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Color</th>
          </tr>
        </thead>
        <tbody>
          {% for color in colores %}
          <tr>
            <th scope="row">{{ color.id }}</th>
            <td>{{ color.nombre }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

    <hr>

    <h4>Tabla de categorias</h4>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">categoria</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
            <th scope="row">{{ categoria.id }}</th>
            <td>{{ categoria.tipo }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

    <hr>

    <h4>Tabla de tallas</h4>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Talla</th>
          </tr>
        </thead>
        <tbody>
          {% for talla in tallas %}
          <tr>
            <th scope="row">{{ talla.id }}</th>
            <td>{{ talla.nombre }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock content %}