{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h3>Crear Modelo</h3>

            <form method="POST">
                {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.marca_id.label }}">{{ form.marca_id.label }}</label></br>
                        {{ form.marca_id }}
                        <br>
                        <label for="{{ form.nombre.label }}">{{ form.nombre.label }}</label>
                        {{ form.nombre }}
                        <br>
                    </div>

                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
{% endblock content %}