{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Crear Producto</h3>

            <form method="POST">
                {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.nombreCategoria.label }}">{{ form.nombreCategoria.label }}</label>
                        {{ form.nombreCategoria }}
                        </br>
                        <label for="{{ form.sexo_id.label }}">{{ form.sexo_id.label }}</label></br>
                        {{ form.sexo_id }}
                    </div>

                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
{% endblock content %}