{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}
{% load widget_tweaks %}
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h3>Crear Producto</h3>

            <form method="POST" id="productoForm" data-modelos-url="{% url 'ajax_load_modelos' %}" data-subcategoria-url="{% url 'ajax_load_subcategorias' %}" novalidate>
                {% csrf_token %}

                    {% for field in form.visible_fields %}
                        <div class="form-group col-md-10">
                            {% if 'num_ref' != field.name  %}
                                <label form="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% endif %}

                            {% if 'num_ref' == field.name  %}
                                {{ field.as_hidden }}
                            {% elif 'imagen' == field.name %}
                                {{ field|add_class:'form-control input-form' }}
                            {% else  %}
                                {{ field|add_class:'form-control' }}
                            {% endif %}

                            {% if 'num_ref' != field.name  %}
                                {% for error in field.errors %}
                                <br>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="nc-icon nc-simple-remove"></i>
                                        </button>
                                        <span><b> {{ field.label }} - </b>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else  %}
                                {% for error in field.errors %}
                                    {% if 'Ya existe Producto con este Num ref.' == error  %}
                                        <br>
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                                    <i class="nc-icon nc-simple-remove"></i>
                                                </button>
                                                <span>Este <b>producto</b> ya esta creado. Num Ref: <b>{{ field.value }}</b></span>
                                            </div>
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </div>
                    {% endfor %}
                    
                <button type="submit" class="btn btn-primary" id="guardarProducto">Crear</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scriptsfooter %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        $('#id_marca').change(function(){
            const url = $("#productoForm").attr("data-modelos-url");    // Coge la url de la vista "load_modelos"
            const marcaId = $(this).val();                              // Recogemos la ID de la marca seleccionada

            $.ajax({                                                    // Inicializamos la llamada AJAX
                url: url,                                               // Seteamos la url de la llamada (= /diverse/ajax/load-modelos)
                data: {
                    'marca_id': marcaId                                 // Añadimos la id de la marca a los parametros
                },
                success: function (data){                               // 'data' es la respuesta de la funcion 'load_modelo'
                    console.log(data);
                    $('#id_modelo').html(data);                    // reemplaza los contenido del input de modelos con la informacion que viene desde el servidor
                }
            })
        });

        $('#id_categoria').change(function(){
            const url = $("#productoForm").attr("data-subcategoria-url");       // Coge la url de la vista "load_subcategorias"
            const categoriaId = $(this).val();                                  // Recogemos la ID de la categoria seleccionada

            $.ajax({                                                            // Inicializamos la llamada AJAX
                url: url,                                                       // Seteamos la url de la llamada (= /diverse/ajax/load-subcategorias)
                data: {
                    'categoria_id': categoriaId                                 // Añadimos la id de la categoria a los parametros
                },
                success: function (data){                                       // 'data' es la respuesta de la funcion 'load_subcategoria'
                    console.log(data);
                    $('#id_subCategoria').html(data);                      // reemplaza los contenido del input de subcategorias con la informacion que viene desde el servidor
                }
            })
        });

        $('#guardarProducto').click(function(){
            var sexo = $('#id_sexo').val();
            var categoria = $('#id_categoria').val(); 
            var subcategoria = $('#id_subCategoria').val();
            var marca = $('#id_marca').val();
            var modelo = $('#id_modelo').val();
            var color = $('#id_color').val();
            var talla = $('#id_categoria').val();

            numRef = ""+sexo+categoria+subcategoria+marca+modelo+color+talla;
            console.log(numRef);
            console.log(parseInt(numRef));

            $('#id_num_ref').val(parseInt(numRef));
        });
    </script>
{% endblock scriptsfooter %}