{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Crear Producto</h3>

            <form method="POST">
                {% csrf_token %}

                    <div class="form-group col-md-10">
                        {{ form.num_ref }}
                        </br>
                        <label for="{{ form.precio.label }}">{{ form.precio.label }}</label></br>
                        {{ form.precio }}
                        </br>
                        <label for="{{ form.imagen.label }}">{{ form.imagen.label }}</label></br>
                        {{ form.imagen }}
                        </br>
                        <label for="{{ form.sexo_id.label }}">{{ form.sexo_id.label }}</label></br>
                        {{ form.sexo_id }}
                        </br></br>
                        <label for="{{ form.subCategoria_id.label }}">{{ form.subCategoria_id.label }}</label></br>
                        {{ form.subCategoria_id }}
                        </br></br> 
                        <label for="{{ form.marca_id.label }}">{{ form.marca_id.label }}</label></br>
                        {{ form.marca_id }}
                        </br></br>
                        <label for="{{ form.modelo_id.label }}">{{ form.modelo_id.label }}</label></br>
                        {{ form.modelo_id }}
                        </br></br>
                        <label for="{{ form.color_id.label }}">{{ form.color_id.label }}</label></br>
                        {{ form.color_id }}
                        </br></br>
                        <label for="{{ form.talla_id.label }}">{{ form.talla_id.label }}</label></br>
                        {{ form.talla_id }}
                        </br>
                    </div>

                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scriptsfooter %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        /*document.getElementById("marcaProducto").addEventListener("change", function(){
            console.log('hola');
            document.getElementById("modeloProducto").innerHTML = "";
            $.ajax({
                type: 'post',
                url: "crear-producto",
                data: {
                    marcaID: $("#marcaProducto").val()
                },
                dataType: 'json',
                success: function(data){
                    let html_data = '<option value="">--------</option>'
                    data.forEach(function (data){
                        html_data += `<option value="${data.id}">${data.title}</option>`
                    });
                    $("#modeloProducto").html(html_data);
                    /*var select = document.getElementById("modeloProducto");
                    for(var i=0; i<data.modelos.length; i++){
                        var option = document.createElement('option');
                        option.value = data.modelos[i]['id'];
                        option.innerHTML = data.modelos[i]['nombre'];
                        select.appendChild(option);
                    }
                },
            });
        });*/
        $("#marcaProducto").change(function () {
            const marcaID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
            $.ajax({                       // initialize an AJAX request
                type: "POST",
                url: '{% url "crearProducto" %}',
                data: {
                    'marcaID': marcaID,       // add the country id to the POST parameters
                },
                success: function (data) {   // `data` is from `get_topics_ajax` view function
                    let html_data = '<option value="">---------</option>';
                    data.forEach(function (data) {
                        html_data += `<option value="${data.id}">${data.title}</option>`
                    });
                    $("#marcaProducto").html(html_data); // replace the contents of the topic input with the data that came from the server
                }
            });
        });
    </script>
{% endblock scriptsfooter %}