{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Crear Sexo</h3>

            <form method="POST">
                {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.tipo.label }}">{{ form.tipo.label }}</label>
                        {{ form.tipo }}
                    </div>



                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
{% endblock content %}