{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}
{% load widget_tweaks %}
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h3>Crear talla</h3>

            <form method="POST">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    {% if 'id' == field.name  %}
                        {{ field.as_hidden }}
                    {% else %}
                        <div class="form-group">
                            <label for="{{ field.name }}">Talla</label>
                            {{ field|add_class:'form-control'|append_attr:"placeholder:Nombre de la talla" }}
                        </div><br>
                    {% endif %}
                    {% for error in field.errors %}
                    <br>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="nc-icon nc-simple-remove"></i>
                            </button>
                            <span><b> {{ field.label }} - </b>{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}

                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    </div>
{% endblock content %}