{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">

      <h3>Tabla de categorias</h3>
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoria</th>
            </tr>
          </thead>
          <tbody>
            {% for categoria in categorias %}
            <tr>
              <th scope="row">{{ categoria.id }}</th>
              <td scope="row">{{ categoria.nombre }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table> 
    </div>
</div>

{% endblock content %}