{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">

      <h3>Tabla de producto</h3>
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Producto</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            <tr>
              <th scope="row">{{ producto.id }}</th>
              <td scope="row">{{ producto.nombre }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table> 
    </div>
</div>

{% endblock content %}