{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title"> Tabla de producto</h4>
          <button type="submit" class="btn btn-primary btn-round" onclick="window.location.href='/backend/crear-producto'"><a href="{% url 'crearProducto' %}" style="text-decoration: none; color: #fff">Crear Producto</a></button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th scope="col">num_ref</th>
                <th scope="col">Sexo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Color</th>
                <th scope="col">Talla</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
                <th scope="col" class="text-center">Ver</th>
                <th scope="col" class="text-center">Editar</th>
                <th scope="col" class="text-center">Borrar</th>
              </tr></thead>
              <tbody>
                {% for producto in productos %}
                <tr>
                  <th scope="row">{{ producto.num_ref }}</th>
                  <th scope="row">{{ producto.sexo.tipo }}</th>
                  <td scope="row">{{ producto.categoria.nombre }}</td>
                  <th scope="row">{{ producto.subCategoria.nombre }}</th>
                  <td scope="row">{{ producto.marca.nombre }}</td>
                  <th scope="row">{{ producto.modelo.nombre }}</th>
                  <td scope="row">{{ producto.color.nombre }}</td>
                  <th scope="row">{{ producto.talla.nombre }}</th>
                  <td scope="row">{{ producto.precio }}</td>
                  <th scope="row"><img class="avatar border-gray imgProducto" src="{{ producto.imagen.url }}" alt="..."></th>
                  <th scope="row" class="text-center"><button class="btn btn-info btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" onclick="window.location.href='/backend/producto/{{ producto.num_ref }}'"><i class="fa fa-eye"></i></button></th>
                  <th scope="row" class="text-center"><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" onclick="window.location.href='/backend/editar-producto/{{ producto.num_ref }}'"><i class="fa fa-edit"></i></button></th>
                  <th scope="row" class="text-center"><button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" onclick="window.location.href=''"><i class="fa fa-trash"></i></button></th>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="update text-right">
            <button type="submit" class="btn btn-primary btn-round" onclick="window.location.href='/backend/crear-producto'"><a href="{% url 'crearProducto' %}" style="text-decoration: none; color: #fff">Crear Producto</a></button>
          </div>
        </div>
      </div>

    </div>
</div>

{% endblock content %}