{% extends 'diverseBackend/baseBackend.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Tabla de sexos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th scope="col">#</th>
                <th scope="col">sexo</th>
              </tr></thead>
              <tbody>
                {% for sexo in sexos %}
                <tr>
                  <th scope="row">{{ sexo.id }}</th>
                  <td>{{ sexo.tipo }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</div>

{% endblock content %}