.nav-image-men{
    background-image: url('../img/products/product-2.jpg');
}

.nav-image-floral{
    background-image: url('../img/products/product-3.jpg');
}

.nav-image-discount{
    background-image: url('../img/products/product-111.jpg');
}

.footer{
    background-image: url('../img/patterns/pattern-2.svg')
}

.instagram-1{
    background-image: url('../img/products/product-16.jpg');
}
.instagram-2{
    background-image: url('../img/products/product-55.jpg');
}
.instagram-3{
    background-image: url('../img/products/product-18.jpg');
    background-position: top !important;
}
.instagram-4{
    background-image: url('../img/products/product-19.jpg');
    background-position: top !important;
}
.instagram-5{
    background-image: url('../img/products/product-113.jpg');
    background-position: top !important;
}
.instagram-6{
    background-image: url('../img/products/product-72.jpg');
}
.instagram-7{
    background-image: url('../img/products/product-5.jpg');
}
.instagram-8{
    background-image: url('../img/products/product-158.jpg');
    background-position: top !important;
}

.discount-50{
    background-image: url('../img/covers/cover-16.jpg');
}

.summer-collection{
    background-image: url('../img/covers/cover-23.jpg');
}

.summer-sale{
    background-image: url('../img/covers/cover-5.jpg');
}

.nosotros1{
    background-image: url('../img/covers/cover-21.jpg');
}
.nosotros2{
    background-image: url('../img/covers/cover-15.jpg');
}
.nosotros3{
    background-image: url();
}
.nosotros4{
    background-image: url();
}
.nosotros5{
    background-image: url();
}
.nosotros6{
    background-image: url();
}
.nosotros7{
    background-image: url();
}
.nosotros8{
    background-image: url();
}

.seeMore{
    color: #000;
}

.seeMore:hover{
    color: #fff;
}

.colorCircle{
    left: 0;
    top: calc((1em * 1.5 - 1.375rem)/ 2);
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background-color: #000;
    margin-right: 14px;
    border: 1px solid #8b8b8b;
}

.custom-control-color label{
    display: inline-flex;
    cursor: pointer;
}

.check-color{
    color: #bfbfbf;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
    font-size: 13px;
    display: none;
}

.colorChecked .check-color{
    display: block;
}

.imagen-catalogo{
    max-height:256px;
    object-fit: cover;
}

.productoRelacionadoLink{
    text-decoration:none;
    color: #000 !important;
}

.productoRelacionadoLink:hover{
    color: #fff !important;
}